<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77890438228-lguc6m9oqqedqc5pscr7frru0i8ugt22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77890438228-lguc6m9oqqedqc5pscr7frru0i8ugt22</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>77890438228-5p3karh81gqotieo3nd6c1gf4geilhhj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAckzeT1z5Ov5HyI_HHSe1cfkAXf2qF3rc</string>
	<key>GCM_SENDER_ID</key>
	<string>77890438228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jibli.admin.app</string>
	<key>PROJECT_ID</key>
	<string>jibli-7441e</string>
	<key>STORAGE_BUCKET</key>
	<string>jibli-7441e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77890438228:ios:05cc3db28f15a9eb75d9c1</string>
	<key>DATABASE_URL</key>
	<string>https://jibli-7441e-default-rtdb.firebaseio.com</string>
</dict>
</plist>