<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77890438228-g69j8ghsubcln7b5o11dibv7jiuf527f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77890438228-g69j8ghsubcln7b5o11dibv7jiuf527f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>77890438228-5p3karh81gqotieo3nd6c1gf4geilhhj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Fz31XupGJ8cM_-T_xGmsx-1o1vlPYtk</string>
	<key>GCM_SENDER_ID</key>
	<string>77890438228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jibliAdminFood</string>
	<key>PROJECT_ID</key>
	<string>jibli-7441e</string>
	<key>STORAGE_BUCKET</key>
	<string>jibli-7441e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77890438228:ios:a44ef1842ccfc73d75d9c1</string>
	<key>DATABASE_URL</key>
	<string>https://jibli-7441e-default-rtdb.firebaseio.com</string>
</dict>
</plist>